.aboutme {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #120720;
    color: white;
    height: 100vh;
    border-top: 10px solid rgba(255, 0, 234, 0.67);
}

.abttext {
    font-size: 100px;
    line-height: 80px;
    position: absolute;
    top: 50px;
    right: 20%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.imgcirc {
    width: 400px;
}

.biog {
    font-size: 25px;
    width: 50%;
    text-align: justify;
    /* border: 1px solid red; */
}

@media screen and (max-width: 768px) {
    .abttext {
    font-size: 75px;
    right: 55%;
    }

    .imgcirc {
        width: 350px;
    }

    .info {
        flex-direction: column;
    }

    .biog {
        text-align: justify;
        font-size: 25px;
        width: 70%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 480px) {
    .abttext {
        font-size: 60px;
        right: 50%;
        top: 5%;
        }

    .imgcirc {
        width: 250px;
    }
    
    .info {
        flex-direction: column;
    }
    
    .biog {
        text-align: justify;
        font-size: 18px;
        width: 80%;
        margin-top: 10px;
    }
}