header {
    /* border: 2px solid red; */
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.contheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 50px 50px 50px 50px;
    margin: 20px 5rem;
    padding: 15px;
}

.navicont1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65px;
    /* border: 2px solid green; */
    padding-left: 20px;
}

.navicont2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    /* border: 2px solid green; */
    padding-right: 20px;
}

.nameheader {
    font-size: 40px;
    color: white;
}

.navi {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.contactheader {
    font-size: 23px;
    text-decoration: none;
    background-color: #242121;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;

}

/* Toggle */
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #cfcfe6;
    font-size: 14px;
}
  
/* Switch */
.switch {
    position: relative;
    width: 40px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
}
  
.slider {
    position: absolute;
    inset: 0;
    background: #444;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}
  
.switch input:checked + .slider {
    background: #a855f7;
}
  
.switch input:checked + .slider::before {
    transform: translateX(20px);
}

.burgercont {
    width: 100%;
    display: none;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    justify-content: center;
  }
  
.burger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}
  
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-radius: 0 0 25px 25px;
}
  
.dropdown-menu.active {
    max-height: 300px;
    padding: 25px 0;
}
  
.dropdown-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .navicont1 .navi,
    .navicont2 {
      display: none;
    }
  
    .burger {
      display: flex;
      margin-left: 20px;
      justify-self: center;
    }
  
    .contheader {
      position: relative;
      border-radius: 50px 50px 0px 0px;
    }

    .nameheader {
        display: none;
    }

    .burgercont {
        display: block;
    }
  }
  
  @media (max-width: 480px) {
    .dropdown-menu a {
      font-size: 16px;
    }

    .contheader {
        border-radius: 50px 50px 0px 0px;
    }
  }
  
  