header {
    border: 2px solid red;
    height: 95px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.contheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}

.navicont1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65px;
    border: 2px solid black;
}

.navicont2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    border: 2px solid black
}

.nameheader {
    font-size: 40px;
    color: white;
}

.navi {
    font-size: 16px;
    text-decoration: none;
}

.contactheader {
    font-size: 23px;
    text-decoration: none;
}

/* Toggle */
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #cfcfe6;
    font-size: 14px;
}
  
/* Switch */
.switch {
    position: relative;
    width: 40px;
    height: 20px;
}
  
.switch input {
    opacity: 0;
}
  
.slider {
    position: absolute;
    inset: 0;
    background: #444;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}
  
.switch input:checked + .slider {
    background: #a855f7;
}
  
.switch input:checked + .slider::before {
    transform: translateX(20px);
}