.nametitle {
    margin-left: 7rem;
    font-size: 8rem;
}

.proftext {
    margin-left: 10rem;
    font-size: 1.8rem;
}

.vertline {
    position: absolute;
    bottom: 65px;
    left: 40px;
    height: 25%;
}

.circ {
    position: absolute;
    right: 200px;
    top: 200px;
    width: 50%;
}

.circ-1{
    right: 200px;
    top: 200px;
    width: 50%;
}

.circ-2{
    right: 200px;
    top: 180px;
    width: 49%;
}

.herosect {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #120720;
    color: white;
    height: 100vh;
    /* border: 2px solid red; */
}



