.nametitle {
    margin-left: 7rem;
    font-size: 8rem;
    line-height: 140px;
}

.proftext {
    margin-left: 10rem;
    font-size: 1.8rem;
    padding-top: 30px;
}

.vertline {
    position: absolute;
    bottom: 35px;
    left: 40px;
    height: 25%;
}

.circ {
    position: absolute;
    right: 200px;
    bottom: 0%;
    width: 50%;
}

.circ-1{
    right: 75px;
    bottom: 0%;
    width: 60%;
}

.circ-2{
    right: 45px;
    bottom: -2%;
    width: 63%;
}

.herosect {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #120720;
    color: white;
    height: 100vh;
    padding-top: 5rem;
    /* border: 2px solid red; */
}


@media screen and (max-width: 768px) {
    .nametitle {
        margin-left: 3rem;
        font-size: 5rem;
        line-height: 100px;
    }

    .proftext {
        margin-left: 5rem;
        font-size: 2rem;
    }

    .vertline {
        bottom: 185px;
        left: -65px;
        height: 22.5%;
    }

    .circ {
        right: -10%;
        top: 100px;
        rotate: -90deg;
        width: 60%;
    }

    .circ-1{
        right: -10%;
        top: 100px;
        width: 60%;
    }
    
    .circ-2{
        right: -10%;
        top: 80px;
        width: 63%;
    }
}

@media screen and (max-width: 480px) {
    .nametitle {
        margin-left: 3rem;
        font-size: 5rem;
        line-height: 100px;
    }

    .proftext {
        margin-left: 5rem;
        font-size: 2rem;
    }

    .vertline {
        bottom: 185px;
        left: -65px;
        height: 22.5%;
    }

    .circ {
        right: -10%;
        top: 100px;
        rotate: -90deg;
        width: 60%;
    }

    .circ-1{
        right: -10%;
        top: 100px;
        width: 60%;
    }
    
    .circ-2{
        right: -10%;
        top: 80px;
        width: 63%;
    }
}
