.project {
    /* display: flex; */
    position: relative;
    /* flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    background-color: #120720;
    color: white;
    height: 160vh;
    border-top: 5px dotted rgba(255, 255, 255, 0.1);
}

.protext {
    font-size: 100px;
    line-height: 80px;
    position: absolute;
    top: 65px;
    left: 200px;
}

.project-grid{
    border: 2px solid white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    padding-top: 125px;
}

.contproj {
    width: 350px;
    position: relative;
    margin-top: 50px;
}

.contproj .proj {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 22px;
    position: relative;
}

.contproj .projtext {
    font-size: 50px;
    line-height: 80px;
    position: absolute;
    bottom: 20px;
    right: -50%;
    top: 20%;
}

.proj1{
    left: 100%;
}

.text1{
    left: 60%;
}

.proj2{
    right: 100%;
}

.text2{
    left: -10%;
}

.proj3{
    left: 100%;
}

.text3{
    left: 60%;
}