.project {
    /* display: flex; */
    position: relative;
    /* flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    background-color: #120720;
    color: white;
    height: 160vh;
    border-top: 5px dotted rgba(255, 255, 255, 0.1);
}

.protext {
    font-size: 100px;
    line-height: 80px;
    position: absolute;
    top: 65px;
    left: 200px;
}

.project-grid{
    /* border: 2px solid white; */
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    padding-top: 125px;
}

.contproj {
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-top: 50px;
}

.contproj .proj {
    width: 100%;
    /* max-width: ; */
    height: 200px;
    object-fit: cover;
    border-radius: 22px;
    position: relative;
}

.contproj .projtext {
    font-size: 50px;
    line-height: 80px;
    position: absolute;
    bottom: 20px;
    right: -50%;
    top: 20%;
}

.proj1{
    left: 100%;
}

.text1{
    left: 60%;
}

.proj2{
    right: 100%;
}

.text2{
    left: -10%;
}

.proj3{
    left: 100%;
}

.text3{
    left: 60%;
}

@media screen and (max-width: 768px) {
    .protext {
        font-size: 70px;
        left: 15%
    }

    .text1 {
        left: 15%;
    }

    .proj1 {
        left: 50%;
    }

    .text2 {
        left: 25%;
    }

    .proj2 {
        right: 50%;
    }

    .text3 {
        left: 15%;
    }

    .proj3 {
        left: 50%;
    }

}

@media screen and (max-width: 480px) {
    .protext {
        font-size: 45px;
        left: 15%
    }

    .contproj .proj {
        width: 50%;
        height: 100px;
    }

    .contproj .projtext {
        font-size: 30px;
        top: -60%;
        width: 150px;
    }

        .protext {
            font-size: 70px;
            left: 15%
        }
    
        .text1 {
            left: 30%;
            bottom: 30%;
        }
    
        .proj1 {
            left: 20%;
            
        }
    
        .text2 {
            left: 30%;
        }
    
        .proj2 {
            left: 20%;
        }
    
        .text3 {
            left: 30%;
        }
    
        .proj3 {
            left: 20%;
        }
    
}



