.project {
    /* display: flex; */
    position: relative;
    /* flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    background-color: #120720;
    color: white;
    height: 160vh;
    border-top: 5px dotted rgba(255, 255, 255, 0.1);
}

.protext {
    font-size: 100px;
    line-height: 80px;
    position: absolute;
    top: 65px;
    left: 200px;
}

.project-grid{
    /* border: 2px solid white; */
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    padding-top: 125px;
}

.contproj {
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-top: 50px;
}

.contproj .proj {
    width: 100%;
    /* max-width: ; */
    height: 200px;
    object-fit: cover;
    border-radius: 22px;
    position: relative;
}
.proj {
    scale: 1;
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.proj:hover {
    scale: 1.1;
}

.contproj .projtext {
    font-size: 50px;
    line-height: 80px;
    position: absolute;
    bottom: 20px;
    right: -50%;
    top: 10%;
}

.proj1{
    left: 100%;
}

.text1{
    left: 60%;
}

.proj2{
    right: 100%;
}

.text2{
    left: -10%;
}

.proj3{
    left: 100%;
}

.text3{
    left: 60%;
}

@media screen and (max-width: 768px) {
    .protext {
        font-size: 75px;
        left: 15%
    }

    .contproj .projtext {
        width: 250px;
    }

    .contproj .proj {
        margin-bottom: 75px;
    }

    .text1 {
        left: 5%;
    }

    .proj1 {
        left: 40%;
    }

    .text2 {
        left: 40%;
    }

    .proj2 {
        right: 40%;
    }

    .text3 {
        left: 5%;
    }

    .proj3 {
        left: 40%;
    }

}

@media screen and (max-width: 480px) {

    .contproj .proj {
        width: 75%;
        height: 150px;
        margin-bottom: 75px;
    }

    .contproj .projtext {
        font-size: 40px;
        top: -40%;
        width: 175px;
    }

        .protext {
            font-size: 45px;
            width: 300px;
            left: 15%;
            top: 5%;
        }
    
        .text1 {
            left: 30%;
        }
    
        .proj1 {
            left: 15%;
            
        }
    
        .text2 {
            left: 30%;
        }
    
        .proj2 {
            left: 15%;
        }
    
        .text3 {
            left: 30%;
        }
    
        .proj3 {
            left: 15%;
        }
    
}



