.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #120720;
    color: white;
    height: 100vh;
}

.skilltext {
    font-size: 100px;
    line-height: 80px;
    /* position: absolute;
    top: 65px;
    right: 650px; */
}

.skillinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.skillcontainer {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 100%;
}

.skilllist p, .skilllevel img {
    margin-bottom: 20px;
}

.skilllevel img {
    display: block;
    width: 264px;
    padding-top: 2px;
}