.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #120720;
    color: white;
    height: 100vh;
    border-top: 5px dotted rgba(255, 255, 255, 0.1);
}

.skillinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.skilltext {
    font-size: 100px;
    line-height: 80px;
    position: relative;
    top: 75px;
    left: 100px;
}


.skillcontainer {
    display: flex;
    position: absolute;
    left: 10%;
    gap: 40px;
}

.skilllist p, .skilllevel img {
    margin-bottom: 22px;

}

.skilllist p {
    font-size: 30px;
    margin-top: 8px;
}

.skilllevel img {
    display: block;
    width: 330px;
    padding-top: 16.5px;
}

.skillcontainer2 {
    display: flex;
    position: absolute;
    right: 10%;
    gap: 40px;
}

.skilllist2 p, .skilllevel2 img {
    margin-bottom: 22px;

}

.skilllist2 p {
    font-size: 30px;
    margin-top: 8px;
}

.skilllevel2 img {
    display: block;
    width: 330px;
    padding-top: 16.5px;
}